.container{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}
.all{
  width: 100%;
  height: 100%;
}

.jeu,.infos{
  display: inline-block;
  vertical-align: top;
}

.jeu {
  width:80%;
}

.infos{
  width:19%;
}

.plateau {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player1 {
  float: left;
}

.background-green {
  background-color: rgb(0, 255, 102);
}

.background-basic {
  background-color: white;
}

.interactions{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle {
  margin: auto;
  width:  550px;
  height: 550px;
  background: green;
}

.etat{
  width: 100%;
  height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
}






