.container{
  width: 100%;
  height: 100%;
  position: absolute;
}

.all{
  width: 100%;
  height: 100%;
  display: flex;
}

.jeu {
  width: 80%;
  height: 100%;
}

.infos{
  width: 19%;
  height: 100%;

}

.plateau {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Menu{
  margin: auto;
  text-align: center;
}

.zone1 {
  width: 25%;
  height: 100%;
}

.zone2 {
  width: 50%;
  height: 100%;
}

.zone3 {
  width: 25%;
  height: 100%;
}

.rectangle {
  margin: auto;
  width:  75%;
  height: 60%;
  background: rgb(0, 128, 0, 0.75);
}

.interactions{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.etat{
  display: flex;
  text-align: center;
  justify-content: center;
}

.playerSideTop {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40%;
}

.playerSideBottom {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerTop {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-green {
  background-color: rgb(0, 255, 102);
}

.background-basic {
  background-color: white;
}

.background-grey {
  color : grey;
}

.background-red {
  background-color: rgba(253, 0, 0, 0.322);
}

.pJoueur, .pTable{
  line-height: 20%;
  margin-bottom: 8px;
}

.pEtat{
  padding: 0;
  margin-top: 8px;
}

.Card{
  line-height: 100%;
  font-size: 425%;
  display: inline-block;
}

.CardTable{
  font-size: 700%;
  display: inline-block;
}

.black{
  color: black;
}

.red{
  color: red;
}

label{
  line-height: 200%;
}

input{
  margin-left: 10px;
}

.tableZone{
  width: 100%;
  height: 50%;
  text-align: center;
  justify-content: center;
}

.bold{
  font-weight: bold;
}






